body{
  margin: 0 auto;
  padding: 0 auto;
}
.nav{
  text-align: center;
    font-family: "Source Sans Pro";

}

a {
  text-decoration: none;
  /* text-decoration-color: black; */
}

.three a{
  color: black
}



.cover{
  height: 100vh;
  width: 100vw;
  /* margin-top: 100px; */
  /* padding-top:100px; */
}

.cover h1{

  padding-top: 250px;
  font-family: Amiri;
}





.port-item{

  max-width: 100%;
  text-align: center;
}

.portfolio{
  padding-bottom: 100px;
}

/* float about and contact */

.about-me{
  float: left;
  width: 65%;

}
.contact-me{
  width: 30%;
  float: right;
}

.footer-left{
  float: left;
  width: 65%;

}

.footer-right{
  display: flex;
  justify-content: space-around;
  float: right;
  width: 30%;

}

.footer-right a{
  color: black;
}
